form {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  margin-top: 100px;
  padding: 50px;
}

.logo {
  height: 150px;
  margin-bottom: 50px;
  margin-left: 50px;
  max-width: 100%;
}

.button {
  display: inline-block !important;
  margin-left: 30px;
  width: 80%;
}
